<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
      Current user user_name: <%= current_user.user_name %>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Log out!">

      </form>
    <% elsif params[:controller] != 'sessions' %>
      <a href="<%= new_session_url %>">Log in!</a>
    <% end %>

    <%= flash[:error] %>
    <%= flash[:success] %>
    <%= flash[:notice] %>

    
    <%= yield %>
  </body>
</html>
