<h1>Here is the Cookie</h1>

My Cookie: <%= cookies[:my_cookie] %>
<br />
Dogs: <%= cookies.signed[:dogs] %>
<br />
My secret: <%= session[:my_secret] %>
<br />
My Array: <%= session[:my_array] %>
<br />
Flash: <%= flash[:the_message] %>