<h1>Create an Account</h1>

<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>

  <label for="user-email">Email</label>
  <input type="email" 
    name="user[email]" 
    id="user-email" 
    value="<%= @user.email %>" />

  <label>
    Location
    <select name="user[location_id]">
      <option>-</option>
      <% Location.all.each do |location| %>
      <option value="<%= location.id %>" <%= "selected" if @user.location_id == location.id %>>
        <%= location.name %>
      </option>
      <% end %>
    </select>
  </label>

  <label>
    Password
    <input type="password" name="user[password]" />
  </label>

  <input type="submit" value="Create my free account!" />

</form>