<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Color:</td>
            <td><%= @cat.color%></td>
        </tr>
        <tr>
            <td>BirthDate:</td>
            <td><%= @cat.birth_date%></td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td><%= @cat.sex%></td>
        </tr>
        <tr>
            <td>What I'm All About: </td>
            <td><%= @cat.description%></td>
        </tr>
    </tbody>
</table>

<h3>
    <a href= "<%= cats_url %>">Back to home</a>
<h3>